body {
  background-color: darkslategray;
  background-image: url(/assets/coder-pic.jpg);
  background-size: cover;
}

.card {
  color: white;
  max-width: 100%;
  position: relative;
  background-color: white;
  padding: 10px;
  border-radius: 13px;
  box-shadow: 5px 5px 15px #0000004b;
  margin: 10px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 0;
}

.card * {
  position: relative;
  z-index: 1;
}

.gridOne {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;

  grid-template-areas:
    "main p2 p4"
    "p1   p3 p5";
}

.main-card {
  grid-area: main;
}
.p1 {
  grid-area: p1;
}
.p2 {
  grid-area: p2;
}
.p3 {
  grid-area: p3;
}
.p4 {
  grid-area: p4;
}
.p5 {
  grid-area: p5;
}

@media (max-width: 1024px) {
  .gridOne {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "main  main"
      "p1    p2"
      "p3    p4"
      "p5    p5";
  }
}

@media (max-width: 768px) {
  .gridOne {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main"
      "p1"
      "p2"
      "p3"
      "p4"
      "p5";
  }
}
